<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styleIntro.css">
    <title>Intro 03</title>
    <style>
      .cuerpo section .imagen{
          background: url(../../img/intro/image03.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
      }

      .cuerpo section .imgTexto{
          background: url(../../img/intro/historiaTexto03.png);
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: center;  
      }

  </style>
</head>
<body>
    <div class="principal">
      
      <div class="cuerpo">
        <a class="prev-btn" href="./intro02.html" rel="noopener"></a>
        <section>
          <div class="imagen"></div>
          <div class="imgTexto"></div>
        </section>
        <a class="next-btn" href="./intro04.html" rel="noopener"></a>
      </div>
      
      <aside>
        <a href="../prendas.html" class="skip"><span>Skip</span></a>
      </aside>
    </div>
    <div class="musica">
      <audio autoplay controls loop>
          <source src="../../music/songMenu_Intro.mp3" type="audio/mpeg">
          Tu navegador no soporta el elemento de audio.
      </audio>
  </div>  
</body>
</html>