<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creditos del Juego</title>
    <link rel="stylesheet" href="../css/styleCreditos.css">
</head>
<body>
    <div class="principal">
        <div class="container">
            <div class="tarjeta"><img src="../img/creditos/tarjeta01.png" alt=""></div>
            <div class="tarjeta"><img src="../img/creditos/tarjeta02.png" alt=""></div>
            <div class="tarjeta"><img src="../img/creditos/tarjeta03.png" alt=""></div>
        </div>
    </div>
    <div class="menu">
        <a href="../index.html"></a>
    </div>

    <div class="musica">
        <audio autoplay="true" controls loop>
            <source src="../music/songGaleria.mp3" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
        </audio>
    </div> 
</body>
</html>