<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styleGaleria.css">
    <title>Galería de Imágenes</title>
</head>
<body>  
    <div class="principal">
        <div class="menu">
            <a href="../index.html"></a>
        </div> 
        <h1>Galería del arte conceptual</h1>
        <div class="gallery">
            <a href="#img1">
                <img src="../img/galeria/image1.png" alt="Imagen 1">
            </a>
            <a href="#img2">
                <img src="../img/galeria/image2.png" alt="Imagen 2">
            </a>
            <a href="#img3">
                <img src="../img/galeria/image3.png" alt="Imagen 3">
            </a>
            <a href="#img4">
                <img src="../img/galeria/image4.png" alt="Imagen 3">
            </a>
            <a href="#img5">
                <img src="../img/galeria/image5.png" alt="Imagen 3">
            </a>
            <a href="#img6">
                <img src="../img/galeria/image6.jpg" alt="Imagen 3">
            </a>
            <a href="#img7">
                <img src="../img/galeria/image7.png" alt="Imagen 3">
            </a>
            <a href="#img8">
                <img src="../img/galeria/image8.jpg" alt="Imagen 3">
            </a>
            <a href="#img9">
                <img src="../img/galeria/image9.png" alt="Imagen 3">
            </a>
            <a href="#img10">
                <img src="../img/galeria/image10.GIF" alt="Imagen 3">
            </a>
            <a href="#img11">
                <img src="../img/galeria/image11.JPG" alt="Imagen 3">
            </a>
            <a href="#img12">
                <img src="../img/galeria/image12.JPG" alt="Imagen 3">
            </a>
            <a href="#img13">
                <img src="../img/galeria/image13.png" alt="Imagen 3">
            </a>
            <a href="#img14">
                <img src="../img/galeria/image14.GIF" alt="Imagen 3">
            </a>
            <a href="#img15">
                <img src="../img/galeria/image15.GIF" alt="Imagen 3">
            </a>
            <a href="#img16">
                <img src="../img/galeria/image16.PNG" alt="Imagen 3">
            </a>
            <a href="#img17">
                <img src="../img/galeria/image17.JPG" alt="Imagen 3">
            </a>
            <a href="#img18">
                <img src="../img/galeria/image18.JPG" alt="Imagen 3">
            </a>
            <a href="#img19">
                <img src="../img/galeria/image19.png" alt="Imagen 3">
            </a>
            <a href="#img20">
                <img src="../img/galeria/image20.png" alt="Imagen 3">
            </a>
            <a href="#img21">
                <img src="../img/galeria/image21.png" alt="Imagen 3">
            </a>
            <a href="#img22">
                <img src="../img/galeria/image22.png" alt="Imagen 3">
            </a>
            <a href="#img23">
                <img src="../img/galeria/image23.png" alt="Imagen 3">
            </a>
            <a href="#img24">
                <img src="../img/galeria/image24.png" alt="Imagen 3">
            </a>
            <a href="#img25">
                <img src="../img/galeria/image25.png" alt="Imagen 3">
            </a>
            <a href="#img26">
                <img src="../img/galeria/image26.png" alt="Imagen 3">
            </a>
            <a href="#img27">
                <img src="../img/galeria/image27.png" alt="Imagen 3">
            </a>
            <a href="#img28">
                <img src="../img/galeria/image28.png" alt="Imagen 3">
            </a>
        </div>
    
        <div id="img1" class="overlay" >
            <img src="../img/galeria/image1.png" alt="Imagen 1" >
        </div>
        <div id="img2" class="overlay">
            <img src="../img/galeria/image2.png" alt="Imagen 2">
        </div>
        <div id="img3" class="overlay">
            <img src="../img/galeria/image3.png" alt="Imagen 3">
        </div>
        <div id="img4" class="overlay">
            <img src="../img/galeria/image4.png" alt="Imagen 3">
        </div>
        <div id="img5" class="overlay">
            <img src="../img/galeria/image5.png" alt="Imagen 3">
        </div>
        <div id="img6" class="overlay">
            <img src="../img/galeria/image6.jpg" alt="Imagen 3">
        </div>
        <div id="img7" class="overlay">
            <img src="../img/galeria/image7.png" alt="Imagen 3">
        </div>
        <div id="img8" class="overlay">
            <img src="../img/galeria/image8.jpg" alt="Imagen 3">
        </div>
        <div id="img9" class="overlay">
            <img src="../img/galeria/image9.png" alt="Imagen 3">
        </div>
        <div id="img10" class="overlay">
            <img src="../img/galeria/image10.GIF" alt="Imagen 3">
        </div>
        <div id="img11" class="overlay">
            <img src="../img/galeria/image11.JPG" alt="Imagen 3">
        </div>
        <div id="img12" class="overlay">
            <img src="../img/galeria/image12.JPG" alt="Imagen 3">
        </div>
        <div id="img13" class="overlay">
            <img src="../img/galeria/image13.png" alt="Imagen 3">
        </div>
        <div id="img14" class="overlay">
            <img src="../img/galeria/image14.GIF" alt="Imagen 3">
        </div>
        <div id="img15" class="overlay">
            <img src="../img/galeria/image15.GIF" alt="Imagen 3">
        </div>
        <div id="img16" class="overlay">
            <img src="../img/galeria/image16.PNG" alt="Imagen 3">
        </div>
        <div id="img17" class="overlay">
            <img src="../img/galeria/image17.JPG" alt="Imagen 3">
        </div>
        <div id="img18" class="overlay">
            <img src="../img/galeria/image18.JPG" alt="Imagen 3">
        </div>
        <div id="img19" class="overlay">
            <img src="../img/galeria/image19.png" alt="Imagen 3">
        </div>
        <div id="img20" class="overlay">
            <img src="../img/galeria/image20.png" alt="Imagen 3">
        </div>
        <div id="img21" class="overlay">
            <img src="../img/galeria/image21.png" alt="Imagen 3">
        </div>
        <div id="img22" class="overlay">
            <img src="../img/galeria/image22.png" alt="Imagen 3">
        </div>
        <div id="img23" class="overlay">
            <img src="../img/galeria/image23.png" alt="Imagen 3">
        </div>
        <div id="img24" class="overlay">
            <img src="../img/galeria/image24.png" alt="Imagen 3">
        </div>
        <div id="img25" class="overlay">
            <img src="../img/galeria/image25.png" alt="Imagen 3">
        </div>
        <div id="img26" class="overlay">
            <img src="../img/galeria/image26.png" alt="Imagen 3">
        </div>
        <div id="img27" class="overlay">
            <img src="../img/galeria/image27.png" alt="Imagen 3">
        </div>
        <div id="img28" class="overlay">
            <img src="../img/galeria/image28.png" alt="Imagen 3">
        </div>

    </div>

    <div class="musica">
        <audio autoplay controls loop>
            <source src="../music/songGaleria.mp3" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
        </audio>
    </div>  

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Obtener todas las superposiciones
            var overlays = document.querySelectorAll('.overlay');
    
            // Agregar un event listener a cada superposición
            overlays.forEach(function(overlay) {
                overlay.addEventListener('click', function() {
                    // Eliminar el hash de la URL para cerrar la superposición
                    history.replaceState(null, null, ' ');
                    // Esperar un breve momento antes de redirigir a la página de inicio
                    setTimeout(function() {
                        // Cambiar la ubicación actual a la página de inicio
                        window.location.href = './galeria.html';
                    }, 100);
                });
            });
        });
    </script>

</body>
</html>
