<!DOCTYPE html>
<html lang="es-MX">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/stylePrendas.css">
        <title>Escoger Las Prendas</title>
    </head>

    <body>
        <div class="principal">
            <div class="cuerpo">
                <div class="head">
                    <h1 class="titulo">Escoge una Prenda para La Ciguapa</h1>
                </div>
                <div class="container">
                    <div class="container-menu">
                        <ul class="menu">
                            <li><a href="#slide1" data-number="1" id="b1"></a></li>
                            <li><a href="#slide2" data-number="2" id="b2"></a></li>
                            <li><a href="#slide3" data-number="3" id="b3"></a></li>
                        </ul>
                        <div class="container-fondo">
                            <div class="slider">
                                <div id="slide1" >
                                    <img src="../img/trajes/ciguapaDesnuda.png" alt="">
                                </div>
                                <div id="slide2">
                                    <img src="../img/trajes/prendaHojas.png" alt="">
                                </div>
                                <div id="slide3">
                                    <img src="../img/trajes/prendaPajas.png" alt="">
                                </div>
                                <div id="slide4">
                                    <img src="../img/trajes/prendaTrapos.png" alt="">
                                </div>
                                <div id="slide5">
                                    <img src="../img/trajes/prendaCuero.png" alt="">
                                </div>
                                <div id="slide6">
                                    <img src="../img/trajes/prendaTela.png" alt="">
                                </div>
                            </div>
                            <div class="foot">
                                <a href="../index.html"></a>
                                <button class="boton" id="boton"></button>
                            </div>
                        </div>
                        <ul class="menu">
                            <li><a href="#slide4" data-number="4" id="b4"></a></li>
                            <li><a href="#slide5" data-number="5" id="b5"></a></li>
                            <li><a href="#slide6" data-number="6" id="b6"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="musica">
            <audio autoplay="true" controls loop>
                <source src="../music/songRopa.mp3" type="audio/wav">
                Tu navegador no soporta el elemento de audio.
            </audio>
        </div> 
    <!-- Vincula el archivo JavaScript externo -->
    <script src="../js/scriptPrendas.js"></script>
    </body>
</html>